name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew :1.21.11:build

      - name: Create artifact directory structure
        run: |
          mkdir -p artifacts/1.21.11/libs
          cp ./versions/1.21.11/build/libs/*.jar artifacts/1.21.11/libs/

      - name: Compute hashes
        run: |
          touch artifacts/hashes.txt
          for jar in $(find artifacts -name '*.jar'); do
            sha256sum $jar >> artifacts/hashes.txt
          done

      - name: Archive Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: artifacts
